
.list-card {
    padding: 28px;
    width: 780px;
    border-radius: 20px;
background-color: #f1e2a4;
    left: 50%;
}

.fonts {
    font-size: 11px
}
.row{
    margin: 8px 12px 8px 6px;

}
.inp-list-page{
    display: flex;
    justify-content: center;
    align-items:  center;
}
.btn-list-page{
    margin: 8px 12px 8px 14px;
}
#btn-dlt-list{
  background-color: #f195a3;
    border: #eeeeee;
    font-size: 14px;
    padding: 6px;
    width: 30px;
    color: black;
     margin: 8px 12px 8px 6px;
}

