
.list-card {
    padding: 28px;
    width: 780px;
    border-radius: 20px;
    background-color: #f5e8b7;
    left: 50%;
    border-bottom: solid rgba(190, 180, 85, 0.66);
    margin: 6px;
}
#list-card-title {
    padding: 8px;
    width: 780px;
    border-bottom: solid rgba(122, 80, 1, 0.8);
    font-size: 20px;
    border-radius: 20px;
    background-color: #f6e7a5;
    margin: 8px;
}
#whole_list{
    display: flow;
    left: 60%;
    justify-content: center;
    align-items: center;
}

.fonts {
    font-size: 11px
}

.row {
    margin: 8px 12px 8px 6px;

}

.inp-list-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-list-page {
    margin: 8px 12px 8px 14px;
}

#btn-dlt-list {
    background-color: #f195a3;
    border: #eeeeee;
    font-size: 14px;
    padding: 6px;
    width: 30px;
    color: black;
    margin: 8px 12px 8px 6px;
}
#editable_style{
    margin: 8px 12px 8px 6px;
}

