.image-placeholder {

    align-self: end;
    /*text-align: end;*/

}

.placeholder-item {
    margin: 12px 12px 12px 22px;
    padding: 2px;
}
#footer{
    background-color: rgba(142, 36, 170, 0.16);
}